body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.logoandsearch{
    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logoimage{
    width: 10vw;
    height:auto;
    cursor: pointer;
}
#logo-button {
    background: none;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    border: 1;
    border-radius: 10px;
}

#logo-button img {
    width: 5vw; /* 이미지의 크기 조정 */
    height: auto;
    border-radius: 5px;
}
#search-input{
    margin-left: 30px;
    width: 20vw;
    height: 5vh;
    margin-top: 8px;
    line-height: 36px;
    font-size: 1.1em;
    letter-spacing: 3px;
    border: 1;
    border-radius: 10px;
    text-align: center;
}
.button-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent; /* 투명 배경 */
    z-index: 1000; /* 다른 요소 위에 위치 */
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    margin: 5px;
    cursor: pointer;
}

.image-button img {
    width: 4vw; /* 이미지의 크기 조정 */
    height: auto;
    border-radius: 5px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.title{
    font-weight: bold;
    font-size: 30;
}
.follow{
    display: flex;
    flex-direction: row;
}
.follower{
    margin-right:10px;
}
.mycontents-like{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mycontents-like p {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none; 
}
/* 선택 상태 스타일 */
.mycontents-like .contents {
    text-decoration: underline;
}

.mycontents-like .likes {
    text-decoration: none; /* likes가 선택되지 않은 상태에서는 밑줄 없음 */
}

.contents{
    margin-right: 30px;
}
.imagecontainer{
    width: 80%;
    height: 100%;
    background-color: aqua;
    overflow-y: auto;
}